In [1]:
import numpy as np, pandas as pd

In [2]:
# DataFrame: 일반화된 NumPy 2차원 배열
# DataFrame: 정렬된 Series 객체의 연속
population_dict = {"California": 38332521,
                   "Texas": 26448193,
                   "New York": 19651127,
                   "Florida": 19552860,
                   "Illinois": 12882135,}

population = pd.Series(population_dict)

area_dict = {"California": 423967, "Texas": 695662, "New York": 141297,
             "Florida": 170312, "Illinois": 149995}

area = pd.Series(area_dict)

In [3]:
# Series 2개 사용 -> Dictionary 2차원 객체
states = pd.DataFrame({"population": population,
                       "area": area,})
print(states, "\n")
print(states.index, "\n")

# DataFrame: columns 속성
print(states.columns)

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

Index(['population', 'area'], dtype='object')

In [4]:
# DataFrame: 딕셔너리 특수 버전 -> 열 이름을 Series 매핑
states["area"] # area = pd.Series(area_dict)

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [5]:
# DataFrame 객채 구성

print(pd.DataFrame(population, columns=["population"]), "\n") # 열 하나, 단일 Series

data = [{"a": i, "b": 2 * i}
        for i in range(3)]
print(data)# List comprehension -> dictionary

pd.DataFrame(data) # 딕셔너리의 리스트에서 구성

            population
California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135

[{'a': 0, 'b': 0}, {'a': 1, 'b': 2}, {'a': 2, 'b': 4}]

   a  b
0  0  0
1  1  2
2  2  4

In [6]:
# DataFrame 일부 키 누락 가능
pd.DataFrame([{"a": 1, "b": 2}, {"b": 3, "c": 4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

In [7]:
# DataFrame as dictionary of Series
pd.DataFrame({"population": population,
              "area": area,})

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [8]:
# 2-D NumPy array -> DataFrame
pd.DataFrame(np.random.rand(3,2), # 3x2 ndarray
             columns=["foo","bar"],
             index=["a","b","c"])

        foo       bar
a  0.265427  0.212495
b  0.223599  0.310528
c  0.585631  0.552364

In [9]:
# DataFrame -> structured array
A = np.zeros(3, dtype =[("A","i8"),("B","f8")])
A

pd.DataFrame(A)

   A    B
0  0  0.0
1  0  0.0
2  0  0.0