In [1]:
import numpy as np, pandas as pd

In [2]:
# 벡터화 연산
x = np.array([2, 3, 5, 7, 11, 13])
x * 2

array([ 4,  6, 10, 14, 22, 26])

In [3]:
# 문자열 배열 -> 루프 구문 사용
data = ["peter", "Paul", "MARY", "gUIDO"]
[s.capitalize() for s in data]

# 누락된 값 -> 에러
# data = ["peter", "Paul", None, "MARY", "gUIDO"]
# [s.capitalize() for s in data]

['Peter', 'Paul', 'Mary', 'Guido']

In [4]:
# Series + Index 객체의 str 속성
data = ["peter", "Paul", None, "MARY", "gUIDO"]
names = pd.Series(data)
print(names, "\n")

names.str.capitalize()

0    peter
1     Paul
2     None
3     MARY
4    gUIDO
dtype: object

0    Peter
1     Paul
2     None
3     Mary
4    Guido
dtype: object

In [5]:
# Pandas string methods
monte = pd.Series(["Graham Chapman", "John Cleese", "Terry Gilliam",
                   "Eric Idle", "Terry Jones", "Michael Palin"])

print(monte.str.lower()); print(monte.str.len()); print(monte.str.startswith("T")); print(monte.str.split());

0    graham chapman
1       john cleese
2     terry gilliam
3         eric idle
4       terry jones
5     michael palin
dtype: object
0    14
1    11
2    13
3     9
4    11
5    13
dtype: int64
0    False
1    False
2     True
3    False
4     True
5    False
dtype: bool
0    [Graham, Chapman]
1       [John, Cleese]
2     [Terry, Gilliam]
3         [Eric, Idle]
4       [Terry, Jones]
5     [Michael, Palin]
dtype: object

In [6]:
# 정규 표현식을 활용하는 메서드
# match(), extract(), findall(), replace(), contains(), count(), split(), rsplit()
print(monte.str.extract("([A-Za-z]+)"), "\n")
print(monte.str.findall(r'^[^AEIOU].*[^aeiou]$'), "\n")

# 기타 메서드
print(monte.str[0:3], "\n")
print(monte.str.split().str.get(-1), "\n")

         0
0   Graham
1     John
2    Terry
3     Eric
4    Terry
5  Michael

0    [Graham Chapman]
1                  []
2     [Terry Gilliam]
3                  []
4       [Terry Jones]
5     [Michael Palin]
dtype: object

0    Gra
1    Joh
2    Ter
3    Eri
4    Ter
5    Mic
dtype: object

0    Chapman
1     Cleese
2    Gilliam
3       Idle
4      Jones
5      Palin
dtype: object

In [12]:
# get_dummies() method
full_monte = pd.DataFrame({"info": ["B|C|D", "B|D", "A|C",
                                    "B|D", "B|C", "B|C|D"],
                          "name": monte})
print(full_monte, "\n")
print(full_monte["info"].str.get_dummies("|"), "\n")

    info            name
0  B|C|D  Graham Chapman
1    B|D     John Cleese
2    A|C   Terry Gilliam
3    B|D       Eric Idle
4    B|C     Terry Jones
5  B|C|D   Michael Palin

   A  B  C  D
0  0  1  1  1
1  0  1  0  1
2  1  0  1  0
3  0  1  0  1
4  0  1  1  0
5  0  1  1  1